@mixin colorvsfont ($color, $fontSize){
    color: $color;
    font-size: $fontSize;
}

@mixin bgcolorvscolor ($bgcolor, $colors) {
    background-color: $bgcolor;
    color: $colors;
}
@media (min-width: 1200px) {
    .footer-mobile {
        display: none;
    }
    .service-mobile {
        display: none;
    }
    .mobile {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .service-1, .service-2, .service-3, .service-4, .service-5, .service-6 {
        img {
            right: 65px !important;
        }
    }
    .footer-mobile {
        display: none;
    }
    .service-mobile {
        display: none;
    }
    .mobile {
        display: none;
    }
    .header {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .service {
        display: none;
    }
    .header {
        display: none;
    }
    .mobile {
        background-image: url(../img/banner-mobile-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 587px;
        .social-mobile {
            text-align: center;
            a {
                color: white;
            }
        }
        .phone-mobile {
            text-align: center;
            a {
                color: white;
            }
        }
        .email-mobile {
            text-align: center;
            a {
                color: white;
            }
        }
        .slogan-mobile {
            text-align: center;
            margin-top: 60px;
            h1 {
                @include colorvsfont(white, 27px);
            }
        }
        .logo-menu {
            a {
                color: white !important;
            }
        }
        .connected-mobile {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            .phone-mobile-1 {
                color: white;
                display: block;
                width: 150px;
                height: 40px;
                line-height: 40px;
                border: 1px solid white;
                border-radius: 20px;
                margin-right: 15px;
            }
            .recieve-mobile {
                color: white;
                display: block;
                width: 150px;
                height: 40px;
                line-height: 40px;
                border: 1px solid white;
                border-radius: 20px;
                margin-left: 15px;
            }
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .footer {
        display: none;
    }
    .service {
        display: none;
    }
    .header {
        display: none;
    }
    .mobile {
        background-image: url(../img/banner-mobile-3.png);
        height: 456px;
        background-repeat: no-repeat;
        .social-mobile {
            text-align: center;
            a {
                color: white;
            }
        }
        .phone-mobile {
            text-align: center;
            a {
                color: white;
            }
        }
        .email-mobile {
            text-align: center;
            a {
                color: white;
            }
        }
        .slogan-mobile {
            text-align: center;
            margin-top: 30px;
            h1 {
                @include colorvsfont(white, 20px );
            }
        }
        .connected-mobile {
            display: flex;
            justify-content: center;
            .phone-mobile-1 {
                @include colorvsfont(white, 12px );
                display: block;
                width: 120px;
                height: 32px;
                line-height: 32px;
                border: 1px solid white;
                border-radius: 16px;
                text-align: center;
                margin-right: 10px;
            }
            .recieve-mobile {
                @include colorvsfont(white, 12px );
                display: block;
                width: 120px;
                height: 32px;
                line-height: 32px;
                border: 1px solid white;
                border-radius: 16px;
                text-align: center;
                margin-left: 10px;
            }
        }
    }
}

@media screen and (min-width: 250px) and (max-width: 480px) {
    .footer {
        display: none;
    }
    .service {
        display: none;
    }
    .header {
        display: none;
    }
    .mobile {
        background-image: url(../img/banner-mobile-2.png);
        background-repeat: no-repeat;
        height: 286px;
        .social-mobile {
            text-align: center;
            a {
                @include colorvsfont(white,12px );
                i {
                    font-size: 12px !important;
                }
            }
        }
        .phone-mobile {
            text-align: center;
            a{
                @include colorvsfont(white, 12px );
            }
        }
        .email-mobile {
            text-align: center;
            a {
                @include colorvsfont(white,12px )
            }
        }
        .logo-menu {
            .brand-mobile-2 {
                padding-top: 0px !important;
            }
        }
        .slogan-mobile {
            text-align: center;
            h1 {
                @include colorvsfont(white, 17px);
            }
        }
        .connected-mobile {
            .phone-mobile-1 {
                display: block;
                @include colorvsfont(white,10px );
                text-align: center;
                width: 90px;
                height: 28px;
                line-height: 28px;
                border: 1px solid white;
                border-radius: 14px;
                margin-right: 5px;
            }
            .recieve-mobile {
                display: block;
                @include colorvsfont(white,9px );
                text-align: center;
                width: 90px;
                height: 28px;
                line-height: 28px;
                border: 1px solid white;
                border-radius: 14px;
                margin-left: 5px;
            }
        }
    }
}
@media screen and (min-width: 250px) and (max-width: 575px) {
    .news-mobile {
        text-align: center;
    }
}
.service-mobile {
    a {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
}

.footer-mobile {
    background-color: #151719;
}

.header {
    background-image: url(../img/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    .logo {
        text-align: center;
    }
    .social {
        border-bottom: 1px solid white;
    }
    a {
        color: white;
    }
    .contact {
        display: flex; 
        justify-content: flex-end;   
        border-bottom: 1px solid white;
        a:hover {
            text-decoration: none;
        }
    }
    .slogan {
        @include colorvsfont(white,43px );
        margin-top: 150px;
        p {
            text-align: center;
            font-weight: bold;
        }
    }
    .helo {
        margin-right: 15px;
    }
    .connected {
        display: flex;
        justify-content: center;
        .phone-1 {
            display: block;
            width: 150px;
            height: 50px;
            line-height: 50px;
            border: 1px solid white;
            text-align: center;
            border-radius: 25px;
            &:hover {
                background-color: #52cfda;
                color: white;
                text-decoration: none;
            }
        }
        .receive {
            margin-left: 15px;
            @extend .phone-1;
            a:hover {
                @include bgcolorvscolor(#52cfda, white);
                text-decoration: none;
            }
        }
    }
}
.utility {
    text-align: center;
    img:hover {
        transform: scale(1.1);
    }
}
.introduce {
    .introduce-1 {
        padding: 0px;
            .icp {
            background-color: #56d0d8;
            height: 60px;
            line-height: 60px;
            text-align: center;
            }
            .itext {
                text-align: justify;
                margin-left: 80px;
                margin-right: 40px;
            }
            .imore {
                display: block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                border: 1px solid #56d0d8;
                text-align: center;
                border-radius: 20px;
                float: right;
                margin-right:40px;
                text-decoration: none;
                &:hover {
                    color: white;
                    background-color: #56d0d8;
                }
            }
    }
    .event {
        padding: 0px;
    }
}
.service {
    margin-top: 100px;
    h2 {
        text-align: center;
    }
    .service-1 {
        display: block;
        // width: 285px;
        text-align: center;
        text-decoration: none;
        color: black;
        position: relative;
        border: 2px solid #e6e6e6;
        height: 200px;
        border-radius: 30px;
        img {
            position: absolute;
            top: -45px;
            right: 90px;
        }
        h6 {
            margin-top: 50px;
        }
    }
    .service-2 {
        display: block;
        // width: 285px;
        text-align: center;
        text-decoration: none;
        color: black;
        position: relative;
        border: 2px solid #e6e6e6;
        height: 200px;
        border-radius: 30px;
        img {
            position: absolute;
            top: -45px;
            right: 90px;
        }
        h6 {
            margin-top: 50px;
        }
    }
    .service-3 {
        display: block;
        // width: 285px;
        text-align: center;
        text-decoration: none;
        color: black;
        position: relative;
        border: 2px solid #e6e6e6;
        height: 200px;
        border-radius: 30px;
        img {
            position: absolute;
            top: -45px;
            right: 90px;
        }
        h6 {
            margin-top: 50px;
        }
    }
    .service-4 {
        @extend .service-3;
    }
    .service-5 {
        @extend .service-3;
    }
    .service-6 {
        @extend .service-3;
    }
    .service-7 {
        text-align: center;
    }
}
.new {
    h2{
        text-align: center;
    }
}
.footer {
    background-image: url(../img/banner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    .footer-1 {
        padding-top: 150px;
    }
    .brand-3 {
        p {
            color: white;
        }
    }
    .infor {
        color: white;
    }
}
.footer-mobile {
    h6, p {
        color: white;
    }
}