@media screen and (min-width: 992px) and (max-width: 1500px) {
  .mobile {
    display: none;
  }
  .header {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    display: none;
  }
  .mobile {
    background-image: url(../img/banner-mobile-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 587px;
  }
  .mobile .social-mobile, .mobile .phone-mobile, .mobile .email-mobile {
    text-align: center;
  }
  .mobile .social-mobile a, .mobile .phone-mobile a, .mobile .email-mobile a {
    color: white;
  }
  .mobile .slogan-mobile {
    text-align: center;
    margin-top: 60px;
  }
  .mobile .slogan-mobile h1 {
    color: white;
    font-size: 27px;
  }
  .mobile .logo-menu a {
    color: white !important;
  }
  .mobile .connected-mobile {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .connected-mobile .phone-mobile-1 {
    color: white;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 15px;
  }
  .mobile .connected-mobile .recieve-mobile {
    color: white;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    display: none;
  }
  .mobile {
    background-image: url(../img/banner-mobile-3.png);
    height: 456px;
    background-repeat: no-repeat;
  }
  .mobile .social-mobile, .mobile .phone-mobile, .mobile .email-mobile {
    text-align: center;
  }
  .mobile .social-mobile a, .mobile .phone-mobile a, .mobile .email-mobile a {
    color: white;
  }
  .mobile .slogan-mobile {
    text-align: center;
    margin-top: 30px;
  }
  .mobile .slogan-mobile h1 {
    color: white;
    font-size: 20px;
  }
  .mobile .connected-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .connected-mobile .phone-mobile-1 {
    color: white;
    font-size: 12px;
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    margin-right: 10px;
  }
  .mobile .connected-mobile .recieve-mobile {
    color: white;
    font-size: 12px;
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    margin-left: 10px;
  }
}

@media screen and (min-width: 250px) and (max-width: 480px) {
  .header {
    display: none;
  }
  .mobile {
    background-image: url(../img/banner-mobile-2.png);
    background-repeat: no-repeat;
    height: 286px;
  }
  .mobile .social-mobile, .mobile .phone-mobile, .mobile .email-mobile {
    text-align: center;
  }
  .mobile .social-mobile a, .mobile .phone-mobile a, .mobile .email-mobile a {
    color: white;
    font-size: 10px;
  }
}

.header {
  background-image: url(../img/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.header .logo {
  text-align: center;
}

.header .social {
  border-bottom: 1px solid white;
}

.header a {
  color: white;
}

.header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid white;
}

.header .contact a:hover {
  text-decoration: none;
}

.header .slogan {
  color: white;
  font-size: 43px;
  margin-top: 150px;
}

.header .slogan p {
  text-align: center;
  font-weight: bold;
}

.header .helo {
  margin-right: 15px;
}

.header .connected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .connected .phone-1, .header .connected .receive {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  text-align: center;
  border-radius: 25px;
}

.header .connected .phone-1:hover, .header .connected .receive:hover {
  background-color: #52cfda;
  color: white;
  text-decoration: none;
}

.header .connected .receive {
  margin-left: 15px;
}

.header .connected .receive a:hover {
  background-color: #52cfda;
  color: white;
  text-decoration: none;
}

.utility {
  text-align: center;
}

.utility img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.introduce .introduce-1 {
  padding: 0px;
}

.introduce .introduce-1 .icp {
  background-color: #56d0d8;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.introduce .introduce-1 .itext {
  text-align: justify;
  margin-left: 80px;
  margin-right: 40px;
}

.introduce .introduce-1 .imore {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #56d0d8;
  text-align: center;
  border-radius: 20px;
  float: right;
  margin-right: 40px;
  text-decoration: none;
}

.introduce .introduce-1 .imore:hover {
  color: white;
  background-color: #56d0d8;
}

.introduce .event {
  padding: 0px;
}

.service {
  margin-top: 100px;
}

.service h2 {
  text-align: center;
}

.service .service-1 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  border: 2px solid #e6e6e6;
  height: 200px;
  border-radius: 30px;
}

.service .service-1 img {
  position: absolute;
  top: -45px;
  right: 90px;
}

.service .service-1 h6 {
  margin-top: 50px;
}

.service .service-2 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  border: 2px solid #e6e6e6;
  height: 200px;
  border-radius: 30px;
}

.service .service-2 img {
  position: absolute;
  top: -45px;
  right: 90px;
}

.service .service-2 h6 {
  margin-top: 50px;
}

.service .service-3, .service .service-4, .service .service-5, .service .service-6 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  border: 2px solid #e6e6e6;
  height: 200px;
  border-radius: 30px;
}

.service .service-3 img, .service .service-4 img, .service .service-5 img, .service .service-6 img {
  position: absolute;
  top: -45px;
  right: 90px;
}

.service .service-3 h6, .service .service-4 h6, .service .service-5 h6, .service .service-6 h6 {
  margin-top: 50px;
}

.service .service-7 {
  text-align: center;
}

.new h2 {
  text-align: center;
}

.footer {
  background-image: url(../img/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
}

.footer .footer-1 {
  padding-top: 150px;
}

.footer .brand-3 p {
  color: white;
}

.footer .infor {
  color: white;
}
/*# sourceMappingURL=style.css.map */