.header {
  background-image: url(../img/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.header .social {
  border-bottom: 1px solid white;
}

.header a {
  color: white;
}

.header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid white;
}

.header .contact a:hover {
  text-decoration: none;
}

.header .slogan {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 150px;
}

.header .slogan p {
  width: 800px;
  margin-left: 160px;
}

.header .connected {
  padding-left: 50px;
}

.header .connected a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 2px solid white;
  text-align: center;
  border-radius: 25px;
}

.header .connected a:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.header .phone {
  padding-left: 350px;
}

.header .phone a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 2px solid white;
  text-align: center;
  border-radius: 25px;
}

.header .phone a:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.utility {
  text-align: center;
}

.utility img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.introduce .introduce-1 {
  padding: 0px;
}

.introduce .introduce-1 .icp {
  background-color: #56d0d8;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.introduce .introduce-1 .itext {
  text-align: justify;
  margin-left: 80px;
  margin-right: 40px;
}

.introduce .introduce-1 .imore {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #56d0d8;
  text-align: center;
  border-radius: 20px;
  float: right;
  margin-right: 40px;
  text-decoration: none;
}

.introduce .introduce-1 .imore:hover {
  color: white;
  background-color: #56d0d8;
}

.introduce .event {
  padding: 0px;
}

.service {
  margin-top: 100px;
}

.service h2 {
  text-align: center;
}

.service .service-1 {
  display: block;
  width: 255px;
  margin-left: 250px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.service .service-2 {
  display: block;
  width: 255px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.service .service-3 {
  display: block;
  width: 255px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.service .service-4 {
  display: block;
  width: 255px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.service .service-5 {
  display: block;
  width: 255px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.service .service-6 {
  display: block;
  width: 255px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.new h2 {
  text-align: center;
}

.footer {
  background-image: url(../img/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
}

.footer .footer-1 {
  padding-top: 150px;
}

.footer .brand-3 p {
  color: white;
}

.footer .infor {
  color: white;
}
/*# sourceMappingURL=style.css.map */