@media (min-width: 1200px) {
  .footer-mobile {
    display: none;
  }
  .service-mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .service-1 img, .service-2 img, .service-3 img, .service .service-4 img, .service .service-5 img, .service .service-6 img, .service-4 img, .service-5 img, .service-6 img {
    right: 65px !important;
  }
  .footer-1 {
    padding-top: 110px !important;
  }
  .footer-1 .brand-3 img {
    margin-bottom: 20px !important;
  }
  .footer-1 .infor p {
    margin-bottom: 8px;
  }
  .footer-1 .fanpage-1 img {
    width: 250px;
  }
  .footer-mobile {
    display: none;
  }
  .service-mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
  .header {
    display: block;
    height: 690px !important;
  }
}

@media screen and (min-width: 767.9px) and (max-width: 768.1px) {
  .mobile {
    height: 430px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1025px) {
  .header {
    height: 600px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.9px) {
  .logo-menu-phone {
    display: none !important;
  }
  .menu-phone {
    display: none;
  }
  .footer-mobile {
    display: none;
  }
  .footer-1 {
    padding-top: 90px !important;
  }
  .footer-1 .brand-3 {
    padding: 0px !important;
  }
  .footer-1 .brand-3 img {
    margin-bottom: 15px !important;
    width: 180px;
  }
  .footer-1 .brand-3 p {
    font-size: 12px;
  }
  .footer-1 .infor {
    padding: 0px !important;
  }
  .footer-1 .infor h6 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .footer-1 .infor p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .footer-1 .fanpage-1 {
    text-align: center;
    padding: 0px !important;
  }
  .footer-1 .fanpage-1 img {
    width: 180px;
  }
  .service {
    display: none;
  }
  .header {
    display: none;
  }
  .mobile {
    height: 550px;
  }
  .mobile .slogan-mobile {
    padding-top: 50px;
    text-align: center;
  }
  .mobile .slogan-mobile h1 {
    color: white;
    font-size: 27px;
  }
  .mobile .logo-menu {
    padding-top: 20px;
  }
  .mobile .logo-menu a {
    color: white !important;
  }
  .mobile .connected-mobile {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .connected-mobile .phone-mobile-1 {
    color: white;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
  }
  .mobile .connected-mobile .recieve-mobile {
    color: white;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .logo-menu {
    display: none !important;
  }
  .footer {
    display: none;
  }
  .service {
    display: none;
  }
  .header {
    display: none;
  }
  .mobile {
    height: 420px;
  }
  .mobile .slogan-mobile {
    text-align: center;
    margin-top: 0px;
  }
  .mobile .slogan-mobile h1 {
    color: white;
    font-size: 20px;
  }
  .mobile .connected-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .connected-mobile .phone-mobile-1 {
    color: white;
    font-size: 12px;
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    margin-right: 10px;
  }
  .mobile .connected-mobile .recieve-mobile {
    color: white;
    font-size: 12px;
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    margin-left: 10px;
  }
}

@media screen and (min-width: 250px) and (max-width: 479.9px) {
  .logo-menu {
    display: none !important;
  }
  .utility {
    margin-top: 110px;
  }
  .utility img {
    width: 80px;
  }
  .introduce-1 .icp {
    font-size: 25px;
  }
  .footer {
    display: none;
  }
  .service {
    display: none;
  }
  .header {
    display: none;
  }
  .mobile .slogan-mobile {
    margin-top: 0px;
    text-align: center;
  }
  .mobile .slogan-mobile h1 {
    color: white;
    font-size: 14px;
  }
  .mobile .connected-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .connected-mobile .phone-mobile-1 {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 90px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 14px;
    margin-right: 5px;
  }
  .mobile .connected-mobile .recieve-mobile {
    display: block;
    color: white;
    font-size: 9px;
    text-align: center;
    width: 90px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 14px;
    margin-left: 5px;
  }
  .mobile .logo-menu .brand-mobile-2 {
    padding-top: 0px !important;
  }
  .mobile .slogan-mobile {
    text-align: center;
  }
  .mobile .slogan-mobile h1 {
    color: white;
    font-size: 17px;
  }
  .mobile .connected-mobile .phone-mobile-1 {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 90px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 14px;
    margin-right: 5px;
  }
  .mobile .connected-mobile .recieve-mobile {
    display: block;
    color: white;
    font-size: 9px;
    text-align: center;
    width: 90px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 14px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 250px) and (max-width: 568px) {
  .slogan-mobile {
    padding-top: 100px;
  }
  .news-mobile {
    text-align: center;
  }
}

.service-mobile a {
  color: black;
}

.service-mobile a:hover {
  text-decoration: none;
}

@media screen and (min-width: 250px) and (max-width: 330px) {
  .utility {
    margin-top: 70px !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 380px) {
  .our-service h1 {
    font-size: 23px !important;
  }
  .logo-menu-phone {
    margin-top: 10px !important;
  }
  .slogan-mobile {
    padding-top: 75px !important;
  }
  .slogan-mobile h1 {
    font-size: 12px !important;
  }
  .connected-mobile .phone-mobile-1 {
    width: 60px !important;
    height: 18px !important;
    font-size: 5px !important;
    line-height: 18px !important;
  }
  .connected-mobile .recieve-mobile {
    width: 60px !important;
    height: 18px !important;
    font-size: 5px !important;
    line-height: 18px !important;
  }
}

.footer-mobile {
  background-color: #151719;
}

.mobile .banner-header-mobile {
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
}

.mobile .banner-header-mobile img {
  width: 100%;
}

.mobile .logo-menu-phone {
  margin-top: 35px;
  position: absolute;
  top: 0px;
  left: 10%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile .logo-menu-phone .nav-phone i {
  margin-top: 10px;
  color: #f39c12;
  cursor: pointer;
}

.mobile .menu-phone {
  position: absolute;
  top: 0px;
  left: -300px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background: #34495e;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.mobile .menu-phone ul {
  padding: 0px;
  width: 270px;
}

.mobile .menu-phone ul li {
  list-style-type: none;
  width: 270px;
  padding: 15px;
}

.mobile .menu-phone ul li a {
  color: white;
}

.mobile .menu-phone ul li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile .menu-phone ul li:nth-child(1) i {
  padding: 5px;
  position: absolute;
  right: 5%;
  border: 1px solid #151719;
  top: 1%;
  width: 36px;
  text-align: center;
  border-radius: 26px;
  background: white;
  cursor: pointer;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  left: 0px !important;
}

.header {
  height: 790px;
}

.header .banner-header {
  right: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.header .banner-header img {
  width: 100%;
}

.header .logo {
  text-align: center;
}

.header .social {
  border-bottom: 1px solid white;
}

.header .social a {
  color: white;
}

.header .menu-1 a {
  color: white;
}

.header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid white;
}

.header .contact a {
  color: white;
}

.header .contact a:hover {
  text-decoration: none;
}

.header .menu-2 a {
  color: white;
}

.header .slogan {
  text-align: center;
  color: white;
  font-size: 43px;
  margin-top: 130px;
  margin-bottom: 20px;
}

.header .slogan p {
  text-align: center;
  font-weight: bold;
}

.header .connected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .connected .phone {
  margin-right: 15px;
  color: white;
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  text-decoration: none;
}

.header .connected .phone:hover {
  background-color: #56d0d8;
  color: white;
}

.header .connected .receive {
  margin-left: 15px;
  color: white;
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  text-decoration: none;
}

.header .connected .receive:hover {
  background-color: #56d0d8;
  color: white;
}

@media screen and (min-width: 568px) and (max-width: 767.9px) {
  .mobile .slogan-mobile {
    padding-top: 150px;
  }
}

.utility {
  text-align: center;
}

.utility img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.introduce .introduce-1 {
  padding: 0px;
}

.introduce .introduce-1 .icp {
  background-color: #56d0d8;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.introduce .introduce-1 .itext {
  text-align: justify;
  margin-left: 80px;
  margin-right: 40px;
}

.introduce .introduce-1 .imore {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #56d0d8;
  text-align: center;
  border-radius: 20px;
  float: right;
  margin-right: 40px;
  text-decoration: none;
}

.introduce .introduce-1 .imore:hover {
  color: white;
  background-color: #56d0d8;
}

.introduce .event {
  padding: 0px;
}

.service {
  margin-top: 100px;
}

.service h2 {
  text-align: center;
}

.service .service-1 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  border: 2px solid #e6e6e6;
  height: 200px;
  border-radius: 30px;
}

.service .service-1 img {
  position: absolute;
  top: -45px;
  right: 90px;
}

.service .service-1 h6 {
  margin-top: 50px;
}

.service .service-2 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  border: 2px solid #e6e6e6;
  height: 200px;
  border-radius: 30px;
}

.service .service-2 img {
  position: absolute;
  top: -45px;
  right: 90px;
}

.service .service-2 h6 {
  margin-top: 50px;
}

.service .service-3, .service .service-4, .service .service-5, .service .service-6 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  border: 2px solid #e6e6e6;
  height: 200px;
  border-radius: 30px;
}

.service .service-3 img, .service .service-4 img, .service .service-5 img, .service .service-6 img {
  position: absolute;
  top: -45px;
  right: 90px;
}

.service .service-3 h6, .service .service-4 h6, .service .service-5 h6, .service .service-6 h6 {
  margin-top: 50px;
}

.service .service-7 {
  text-align: center;
}

.new h2 {
  text-align: center;
}

.new .news-mobile img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.new .news-mobile img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .banner-footer {
  position: absolute;
  left: 0px;
}

.footer .footer-1 {
  padding-top: 150px;
}

.footer .brand-3 p {
  color: white;
}

.footer .infor {
  color: white;
}

.footer-mobile h6, .footer-mobile p {
  color: white;
}

.backtotop {
  width: 90px;
  position: fixed;
  color: white;
  text-align: center;
  padding: 10px 0px;
  border: 1px solid black;
  opacity: 0.6;
  border-radius: 20px;
  background: gray;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */